// Colors
$grey: #dddddd;
$brand-primary:#397ab1;
$light-grey:#f9f9f9;
$dark-grey:#777777;
$body-bg-color:#fafafa;
$body-default-color:#333333;

// Spacing
$space: 1.4rem;
$site-max-width:100rem;

// Font Sizes
$base-font-size: 1.6rem;
$large-font-size: 1.8rem;

// Form Inputs
$input-border: $grey;
$input-spacing:1rem;

// Boxed view 
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: #fff;
$boxed-view-border: $grey;

// Button
$button-bg:$brand-primary;
$button-pill-color:$brand-primary;
$button-color:#fff;
$button-secondary-bg:$light-grey;
$button-secondary-color:$dark-grey;
$button-secondary-border:$grey;

// Header
$header-height: 6rem;

// Item
$item-bg:$light-grey;
$item-border:darken($light-grey, 8%);
$item-text-color:$dark-grey;

// Page Content
$sidebar-width: 30rem;
$main-content-width: calc(#{$site-max-width} - #{$sidebar-width});
$page-content-height: calc(100vh - #{$header-height});