.page-content {
	display:flex;
	max-width:$site-max-width;
	margin:0 auto;
	height:$page-content-height;
	@include desktop() {
		padding:$large-space $space;
	}
	.sidebar {
		display:flex;
		width:100vw;
		transition:all 0.3s ease;
		position:fixed;
		top:$header-height;
		left:-100vw;
		bottom:0;
		z-index:1;
		@include desktop() {
			display:flex;
			width:$sidebar-width;
			padding-right:$large-space;
			position:static;
		}
	}
	.main {
		display:flex;
		width:100%;
		@include desktop() {
			width:$main-content-width;
		}
	}
}

.is-nav-open .page-content .sidebar {
	left:0;
}